* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body,html {
    width: 100%;
    height: 100%;
    background-color: rgb(234, 227, 227);
    color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.note{
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: rgb(142, 64, 64);

}
